
/* 헤더 */
#main-header {
    height: 150px;
    background: #f353ab;
    position: relative;
    float: center;
}

.header-title {
    position: left;
    width: 200px; height:  40px;
    left: 50%; margin-left: -100px;
    padding: 20px;
    line-height: 150px;
}

.header-title-img {
    left: 50%; 
    margin-left: 100px;
    margin-top: 35px;
    width : 300px;
    float: left;
}

.header-search-form {
    float: left;
}

.header-menu {
    float: left;
    margin-left: 200px;
}


/* 드롭다운 */
.outer-menu {
    float: left;
    width: 100px; height: 20px;
    line-height: 20px;
    padding: 10px 0;
    position: relative;
    text-align: center;

    font-size: 13px;
    font-weight: bold;
    z-index: 9999;

    margin-top: 50px;
}

.outer-menu-title {
    color : white;
    font-size: 30px;
    padding: 50px;
}

.outer-menu:hover { background: #c5c5c5; }

.inner-menu {
    display: none;
    background: #FFFFFF;
    margin-top: 10px;
    width: 100%;

    border-top: 1px solid #cccaca;
    box-shadow: 0 2px 4px rgba(34,25,25,0.5);
}

.inner-menu a {
    display: block;
    padding: 5px 10px;
    z-index: 5000;
}

.inner-menu a:hover { background: #E1DFDF; }


/* 네비게이션 메뉴 */
#main-navigation {
    height: 60px;
    background: rgb(253, 152, 209);
    border-top: 1px solid #cfcaca;
    box-shadow: 1px 3px 3px rgba(34, 25, 25, 0.4);
}

.main-navigation-content {
    padding: 80px;
    color: white;
    font-size: 25px;
    height: 60px;
}

#main-navigation > ul {
    overflow:hidden;
    text-align: center;
}

#main-navigation > ul > li {
    display: inline;

    padding: 0 5px;

    line-height: 60px;
    font-size: 25px;
    color: #524D4D;
    text-shadow: 0 1px 1px white;
}

#main-navigation > ul > li:hover { 
    background: #c5c5c5;
    border-radius: 2px;
}


/* 검색 양식 */
.header-search-form {
    height: 70px;
    padding: 9px;
    margin-left: 200px;
}

.input-search {
    display: block;
    float: left;

    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 15px 0 0 15px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

    width: 500px; height: 50px;

    margin-top: 40px;

    /* padding: 0 0 0 100px; */
    font-size: 16px;
    color: hotpink;

    float: center;
}

.input-search:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.input-submit {
    display: block;
    float: left;

    background-color: rgb(253, 152, 209);
    color: white;
    width: 100px; height: 50px;
    border-radius: 0 15px 15px 0;
    border: 1px solid #CCCCCC;

    margin-left: -1px;
    margin-top: 40px;

    display: block;

    font-size: 20px;
}


/* 푸터 */
#footer {
    height: 300px;
}

.main-footer {
    height: 250px;
    background:rgb(253, 152, 209);

}

#footer-content {
    overflow: hidden;
    margin: 0px auto;
    width: 1000px;
}

.main-footer-content {
    color: white;
    font-size: 15px;
    width:500px;
    float:left; 
    margin-top: 70px;
    padding: 15px;
}

.main-footer-logo {
    margin-top: 25px;
    margin-left: 200px;
    width:200px;
}
.main-footer-copyright {
    height: 50px;
    background : #f353ab;
    color: white;
    text-align: center;
}

#copyright{
    margin: 0 auto;
    border: 1px solid blue;
}